html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
}

img {
  width: 100%;
}

.menu {
  color: #8f2440;
}

.menu:hover {
  color: #3f1622;
}

h1, h2 {
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
}

nav ol li {
  font-size: 1.125rem;
  font-weight: bold;
  color: #3f1622;
}

nav ol li a:hover {
  color: #3f1622;
}

nav ol li a {
  text-decoration: none;
}

nav li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #8f2440;
}

a:active {
  text-decoration: underline;
}

main > p {
  font-size: .8rem;
  font-weight: normal;
  color: #222;
}

main p:nth-child(2) {
  font-weight: bold;
  font-size: 1.125rem;
  color: #222;
}

main p:nth-child(3) {
  font-size: 1.125rem;
  color: #222;
}

main p:nth-child(4) {
  font-size: 1.125rem;
  color: #222;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  color: #222;
}

cite {
  font-size: .8rem;
  font-style: italic;
  color: #222;
}

h2 ol li {
  font-size: 1.125rem;
  color: #222;
  list-style-type: lower-greek;
}

dl + dt {
  font-style: italic;
  font-size: 1.125rem;
  color: #222;
}

dl dt:nth-child(2) {
  font-size: 1.125rem;
  color: #222;
}

dl dt:nth-child(3) {
  font-size: 1.125rem;
  color: #222;
}

dl dt:nth-child(4) {
  font-size: 1.125rem;
  color: #222;
}

dl dt:nth-child(5) {
  font-size: 1.125rem;
  color: #222;
}

ul li {
  font-size: .8rem;
  color: #222;
}

aside {
  font-size: .8rem;
  color: #222;
}

small a {
  color: #3f1622;
}

small a:hover {
  color: #3f1622;
}

h2 ul li {
  list-style-type: lower-greek;
}

.bold {
  font-weight: bold;
}

figcaption {
  font-style: italic;
}
