html {
  background-color: #c9b5ab;
  line-height: 1.5;
}

h1, h2 {
  color: #3f1622;
  font-family: PT Sans;
  font-size: 1.5rem;
  font-weight: bold;
}

nav ol li {
  font-family: PT Sans;
  font-size: 1.125rem;
  font-weight: bold;
  color: #3f1622
}

nav ol li {
  a: hover {
    color: #3f1622;
}

main > p {
  font-family: PT Serif;
  font-style: italic;
  font-size: 1.125rem;
  font-weight: normal;
  color: #222;
}

main p:nth-child(2) {
  font-family: PT Serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: #222;
}

main p:nth-child(3) {
  font-family: PT Serif;
  font-size: 1.125rem;
  color: #222;
}

main p:nth-child(4) {
  font-family: PT Serif;
  font-size: 1.125rem;
  color: #222;
}

blockquote {
  font-family: PT Serif;
  font-size: 1.5rem;
  font-style: italic;
  color: #222;
}

cite {
  font-family: PT Serif;
  font-size: 0.8rem;
  font-style: italic;
  color: #222;
}

h2 ol li {
font-family: PT Serif;
font-size: 1.125rem;
color: #222;
}

dl + dt {
  font-family: PT Serif;
  font-style: italic;
  font-size: 1.125rem;
  color: #222;
}

dl dt:nth-child(2) {
font-family: PT Serif;
font-size: 1.125rem;
color: #222;
}

dl dt:nth-child(3) {
font-family: PT Serif;
font-size: 1.125rem;
color: #222;
}

dl dt:nth-child(4) {
font-family: PT Serif;
font-size: 1.125rem;
color: #222;
}

dl dt:nth-child(5) {
font-family: PT Serif;
font-size: 1.125rem;
color: #222;
}

ul li {
  font-family: PT Serif;
  font-size: 0.8rem;
  color: #222;
}

aside {
  font-family: PT Serif;
  font-size: 0.8rem;
  color: #222;
}

small a:hover {
  color: #8f2440
}
